/* * { background: rgba(240, 204, 105, 0.904); }
*/

div#videos div{
    display: inline-block;
    width: 48%;
}

div#videos div.leftbox{
    padding-left: 15px;
}

div#videos div.leftbox h1{
    padding-left: 30px;
    color: #123456;
}

div#videos div.leftbox h2{
    padding-left: 250px;
    color: #123456;
}

div#videos div.rightbox{
    padding-left: 15px;
}

div#videos div.rightbox h1{
    padding-left: 30px;
    color: #123456;
}

div#videos div.rightbox h2{
    padding-left: 250px;
    color: #123456;
}

header h1{
    background-color: #123456;
    color: aliceblue;
    padding: 25px;
    margin: 0px;

}


nav.menu-nav ul li.btn{
    display: inline-block;
    list-style-type: none;
}

nav.menu-nav ul li.btn a{
    text-decoration: none;
    color: white;
    background-color: #123456;
    padding: 15px;

}

nav.menu-nav ul li.btn:hover a{
    background-color:steelblue;
}

body{
    background: url("https://img.fotocommunity.com/phare-ploumanach-4608e61b-d0be-41bb-a17b-4edf50ff0319.jpg?width=1000") no-repeat;
    background-size: 100%;
}
